-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: otwproject
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anggaran_nasabah`
--

DROP TABLE IF EXISTS `anggaran_nasabah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggaran_nasabah` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `kategori_id` int unsigned NOT NULL,
  `nominal_limit_anggaran` decimal(15,2) NOT NULL,
  `bulan` tinyint NOT NULL,
  `tahun` year NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `anggaran_nasabah_user_id_foreign` (`user_id`),
  KEY `anggaran_nasabah_kategori_id_foreign` (`kategori_id`),
  CONSTRAINT `anggaran_nasabah_kategori_id_foreign` FOREIGN KEY (`kategori_id`) REFERENCES `kategori_transaksi` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `anggaran_nasabah_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggaran_nasabah`
--

LOCK TABLES `anggaran_nasabah` WRITE;
/*!40000 ALTER TABLE `anggaran_nasabah` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggaran_nasabah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_transaksi`
--

DROP TABLE IF EXISTS `kategori_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategori_transaksi` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `jenis` enum('Pemasukan','Pengeluaran') COLLATE utf8mb4_general_ci NOT NULL,
  `dibuat_oleh_admin` int unsigned DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kategori_transaksi_dibuat_oleh_admin_foreign` (`dibuat_oleh_admin`),
  CONSTRAINT `kategori_transaksi_dibuat_oleh_admin_foreign` FOREIGN KEY (`dibuat_oleh_admin`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_transaksi`
--

LOCK TABLES `kategori_transaksi` WRITE;
/*!40000 ALTER TABLE `kategori_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_audit_sistem`
--

DROP TABLE IF EXISTS `log_audit_sistem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_audit_sistem` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned DEFAULT NULL,
  `aktivitas_yang_dilakukan` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `waktu_kejadian` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `log_audit_sistem_user_id_foreign` (`user_id`),
  CONSTRAINT `log_audit_sistem_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_audit_sistem`
--

LOCK TABLES `log_audit_sistem` WRITE;
/*!40000 ALTER TABLE `log_audit_sistem` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_audit_sistem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `class` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `group` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `namespace` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `time` int NOT NULL,
  `batch` int unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parameter_5c`
--

DROP TABLE IF EXISTS `parameter_5c`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter_5c` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nama_parameter` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `bobot_persentase` int NOT NULL,
  `keterangan` text COLLATE utf8mb4_general_ci,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter_5c`
--

LOCK TABLES `parameter_5c` WRITE;
/*!40000 ALTER TABLE `parameter_5c` DISABLE KEYS */;
INSERT INTO `parameter_5c` VALUES (1,'Character',25,'Riwayat Kredit / BI Checking',NULL),(2,'Capacity',25,'Kapasitas bayar (Rasio pendapatan bulanan)',NULL),(3,'Capital',20,'Modal atau Uang Muka yang dimiliki',NULL),(4,'Collateral',15,'Jaminan aset yang diagunkan',NULL),(5,'Condition',15,'Kondisi Ekonomi Industri Nasabah',NULL);
/*!40000 ALTER TABLE `parameter_5c` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengajuan_analisis_ai`
--

DROP TABLE IF EXISTS `pengajuan_analisis_ai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengajuan_analisis_ai` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `pengusul_id` int unsigned NOT NULL COMMENT 'User (Marketing/Pengusul) yang menginputkan data',
  `reviewer_id` int unsigned DEFAULT NULL COMMENT 'User (Manajer/Reviewer) yang meng-ACC',
  `data_input_json` text COLLATE utf8mb4_general_ci,
  `file_dokumen_json` text COLLATE utf8mb4_general_ci COMMENT 'Menyimpan path/link dokumen yang di-upload pengusul',
  `status` enum('Draft','Validasi Sistem','Tidak Valid','Menunggu Review','Revisi','Disetujui','Ditolak') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'Draft',
  `catatan_validasi_sistem` text COLLATE utf8mb4_general_ci COMMENT 'Pesan error/validasi dari AI jika dokumen tidak lengkap/sinkron',
  `hasil_score_dscr` decimal(5,2) DEFAULT NULL COMMENT 'Skor rasio kelayakan',
  `indikasi_fraud` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Apakah AI mendeteksi inkonsistensi rasio/dokumen',
  `hasil_resume_ai` text COLLATE utf8mb4_general_ci,
  `catatan_reviewer` text COLLATE utf8mb4_general_ci COMMENT 'Alasan revisi dari reviewer, atau alasan penolakan',
  `file_resume_pdf` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Path/Lokasi file surat keputusan PDF jika diarsipkan permanen',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengajuan_analisis_ai_pengusul_id_foreign` (`pengusul_id`),
  KEY `pengajuan_analisis_ai_reviewer_id_foreign` (`reviewer_id`),
  CONSTRAINT `pengajuan_analisis_ai_pengusul_id_foreign` FOREIGN KEY (`pengusul_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pengajuan_analisis_ai_reviewer_id_foreign` FOREIGN KEY (`reviewer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengajuan_analisis_ai`
--

LOCK TABLES `pengajuan_analisis_ai` WRITE;
/*!40000 ALTER TABLE `pengajuan_analisis_ai` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengajuan_analisis_ai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil_nasabah`
--

DROP TABLE IF EXISTS `profil_nasabah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profil_nasabah` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `no_ktp` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `no_telepon` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `alamat_lengkap` text COLLATE utf8mb4_general_ci,
  `pekerjaan` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `penghasilan_bulanan` decimal(15,2) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `profil_nasabah_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil_nasabah`
--

LOCK TABLES `profil_nasabah` WRITE;
/*!40000 ALTER TABLE `profil_nasabah` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil_nasabah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nama_role` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Reviewer'),(2,'Pengusul');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_nasabah`
--

DROP TABLE IF EXISTS `transaksi_nasabah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi_nasabah` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `kategori_id` int unsigned NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `tanggal_transaksi` date NOT NULL,
  `catatan` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `transaksi_nasabah_user_id_foreign` (`user_id`),
  KEY `transaksi_nasabah_kategori_id_foreign` (`kategori_id`),
  CONSTRAINT `transaksi_nasabah_kategori_id_foreign` FOREIGN KEY (`kategori_id`) REFERENCES `kategori_transaksi` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `transaksi_nasabah_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_nasabah`
--

LOCK TABLES `transaksi_nasabah` WRITE;
/*!40000 ALTER TABLE `transaksi_nasabah` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_nasabah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `role_id` int unsigned NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `status_aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `users_role_id_foreign` (`role_id`),
  CONSTRAINT `users_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,1,'Bapak Reviewer','reviewer@bank.com','$2y$10$MAonJNj1Sud/y8k02yy0GusI.BVCSZZZ0CCgYvEvuj2sxLcZSxcSa',1,NULL,NULL,NULL),(2,2,'Mas Pengusul (Marketing)','pengusul@bank.com','$2y$10$qNPZ.wRyCVmYX29eCSSzh.gV0wkshDRooJcVXPoYklhD8YCa/iC9a',1,NULL,NULL,NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-12  0:35:20
